language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - 7
  
matrix:
  allow_failures:
    - php: 7

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - vendor/bin/codecept build

script: vendor/bin/codecept run
